@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 50px ;
}

.logo{
    text-decoration: none;
    color: #F9A825;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: silver;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    }

.navigation a:hover{
    color: aqua ;
}

section {
    padding: 90px 70px;
}

.first {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(43775_4454010_728413_image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.first h2 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}

.first h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #F9A825;
    font-size: 1.2em;
    font-weight: 1000;
}

.first h3 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 1000;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.first-btn {
    color: #fff;
    background-color: #F9A825;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 1000;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.first-btn:hover {
    background-color: silver;
    transform: scale(1.1);
}

.first-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 15px;
}

.title {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.cart:hover {
    transform: scale(1.1);
}

.cart .icon {
    color: #F9A825;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}
.projects {
    background-color: black;
}
.projects .content {
    margin-top: 30px;
}
.cart-project {
    border: 5px solid white;
    background-color: white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    transition: 0.7s ease;
}
.cart-project:hover {
    transform: scale(1.1);
}
.cart-project:hover .img-project {
    opacity: 0.9;
}
.img-project img {
    width: 100%;
}
.info-project {
    padding: .1em;
}
.serv-project {
    font-size: 0.8em;
    color: black;
}
.title-project {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
}
.more-details {
    color: silver;
    text-decoration: none;
}
.more-details:hover {
    color: aqua;
}
.about-us {
    margin-bottom: 40px;
}
.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.foot-title {
    font-size: 1.3em;
    font-weight: 600;
}

.foot-title span {
    color: #F9A825;
}

.footer .first-icons a{
    font-size: 1.1em;
    padding: 0 12px 0 0;
}
@media (max-width: 1023px) {
    header {
        padding: 5px 20px;
    }
    .navigation a{
        padding-left: 1px;
    }
    .title {
        font-size: 1.8em;
    }
    .section {
        padding: 80px 20px;
    }
    .first h2 {
        font-size: 1em;
    }
    .first h3 {
        font-size: 1em;
    }
    .content {
        align-items: center;
    }
}
@media (max-width:641px) {
    body {
        font-size: 15px;
    }
    .first h2 {
        font-size: 1em;
    }
    .first h3 {
        font-size: 1em;
    }
}
@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}
